@CHARSET "ISO-8859-1";

/*prevent text highlight*/
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body a {
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

img {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;  
    user-select: none;  
    -webkit-user-drag: none;  
    user-drag: none;
}
/*login page -> index.php & Login.html*/
#login-container {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

a:active,a:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}

#header-login,#footer-login {
	margin-top: 5%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#login-title {
	text-align: center;
}

#login-footerText {
	text-align: center;
}

#login-button {
	width: 100%;
}

#loader-div {
	margin-left: 104%;
	margin-top: -5%;
	font-size: 1.4em;
}

#forgotten-password,#register-link {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*language bar styles*/
.lang-bar-login {
	width: 8.5%;
	margin-top: 0.5%;
	margin-left: 0.8%;
}

.lang-bar {
	width: 8.5%;
	margin-top: 0.5%;
	margin-left: 0.8%;
	float: left;
}

.lang {
	height: 27px;
	width: 27px;
	transition: opacity 400ms;
	opacity: 0.6;
}

.lang:hover {
	border-color: #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .09), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .09), 0 0 8px
		rgba(102, 175, 233, .6);
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	transition: opacity 400ms;
	opacity: 1;
}

/*pass change error message (also used for pass restore and reg user modals)*/
.pass-error,.register-error {
	color: #a94442;
}

.logged-in-body {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
}

.logged-container {
	position: relative;
	background-color: white;
	width: 90%;
	min-height: 450px;
	max-height: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 2px 2px 2px 2px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	padding: 3% 3% 3% 3%;
}

.logged-container h1 {
	text-align: center;
	margin-bottom: 2%;
}

#footer-logged {
	text-align: center;
}

#controls-container {
	width: 100%;
	height: 10%;
	border: 1x solid transparent;
}

.user-dropdown {
	float: right;
	margin-top: 0.5%;
	margin-right: 1.5%;
}

.user-dr-menu {
	margin-top: 2%;
}

.user-dr-menu li a {
	text-decoration: none;
	color: black;
	width: 100%;
}

.user-dr-menu li:hover {
	background-color: #eee;
}

.dropdown-menu::after {
	position: absolute;
	top: -6px;
	left: 10%;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	border-left: 6px solid transparent;
	content: '';
}

#mainContainer {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	padding: 4% 4% 4% 4%;
}

.nav-tabs>li,.nav-pills>li {
	float: none;
	display: inline-block;
	*display: inline; /* ie7 fix */
	zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs,.nav-pills {
	text-align: center;
}

.queston-container div {
	
}

.breadcrumb {
	background-color: transparent;
	margin-left: 9%;
	margin-top: 0.3%;
}

.breadcrumb a {
	text-decoration: none;
}

.queston-container {
	padding-top: 3%;
	width: 95%;
	margin: 0 auto;
}

.queston-container #testTitleContainer input,.queston-container #testTitleContainer span
	{
	margin-left: auto;
	margin-right: auto;
}

.question {
	width: 100%;
	margin: 0 auto;
	padding: 2% 2% 2% 2%;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	border: 1px solid #ccc;
	margin-top: 2%;
	background-color: #f8f8f8;
}

.label-left {
	float: left;
	margin-left: 8%;
}

.answer-correct input[type="checkbox"] {
	margin-top: -1px;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}

.label-left {
	padding-top: 5px;
}

.label-left label:last-child {
	margin-left: 15px;
}

.question-answer-add,.answer-correct {
	float: right;
	margin-right: 8%;
}

.question-fields,.answer-fields {
	width: 60%;
}

#addQuestionButton {
	margin-top: 2%;
}

.input-type-file {
	height: 110%;
}

.answer {
	width: 95%;
	margin: 0 auto;
	padding: 2% 2% 2% 2%;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	border: 1px solid #ccc;
	margin-top: 2%;
	background-color: white;
}

.btn-remove-q {
	margin-left: 3%;
}

.btn-remove-a {
	margin-right: 1%;
}

.ans-rem-but {
	margin-left: 2%;
}

input[type=file] {
	max-width: 170px;
	color: #fff;
}

.system-icon {
	font-size: 1.2em;
}

.system-icon-big {
	font-size: 1.4em;
	color: #a94442;
}

.question-title-h,.asnwer-title-h {
	text-align: center;
}

.test-link {
	text-decoration: none;
}

.test-link:hover {
	text-decoration: none;
}

.table-head {
	text-align: center;
}

#testTitleContainer {
	width: 98%;
}

.question-container-do {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#home-img {
	width: 60%;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.1);
}

.small-link {
	font-size: 8px;
	text-decoration: none;
    color: #dedede;
    display: block;
}
.small-link:hover {
	text-decoration: none;
    color: #dedede;
}