<div id="pass-modal" ng-controller="mainController">
	<div class="modal-header">

		<h3 class="modal-title"
			ng-bind-html="strings.change_pass_modal_heading"></h3>
	</div>
	<div class="modal-body" id="change-pass-modal-body">
		<div class="form-group input-group" id="old-pass-group">
			<span class="input-group-addon"> <span
				class="glyphicon glyphicon-lock"></span>
			</span> <input type="password" id="old-pass"
				class="login-field form-control input-lg" name="old-pass"
				ng-model="oldPass" placeholder="{{strings.old_pass}}" autofocus />
			<br />
		</div>
		<p id="pass-error-1" class='pass-error'></p>
		<p id="pass-error-6" class='pass-error'></p>
		<div class="form-group input-group" id="new-pass-group">
			<span class="input-group-addon"> <span
				class="glyphicon glyphicon-lock"></span>
			</span> <input type="password" id="new-pass"
				class="login-field form-control input-lg" name="new-pass"
				ng-model="newPass" placeholder="{{strings.new_pass}}" /> <br />
		</div>
		<p id="pass-error-2" class='pass-error'></p>
		<div class="form-group input-group" id="new-pass-again-group">
			<span class="input-group-addon"> <span
				class="glyphicon glyphicon-exclamation-sign"></span>
			</span> <input type="password" id="new-pass-again"
				class="login-field form-control input-lg" name="new-pass-again"
				ng-model="newPassAgain" placeholder="{{strings.new_pass_again}}" />
			<br />
		</div>
		<p id="pass-error-3" class='pass-error'></p>
		<p id="pass-error-4" class='pass-error'></p>
		<p id="pass-error-5" class='pass-error'></p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary"
			ng-bind-html="strings.change" ng-click="doChangePass('confirm')"
			id="change-pass-button"></button>
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-bind-html="strings.close" ng-click="doChangePass('cancel')"></button>
	</div>
</div>
<!-- /.modal -->
