<div class="row" id="createTest" ng-controller="createTestController"
	ng-init="init()">
	<button ng-show="showCreateTestButton"
		ng-bind-html="strings.create_test_button_label" ng-click="initTest()"
		type="button" class="btn btn-primary"></button>
	<div class="main-cont-create">
		<div class="main-cont-create-head"></div>
		<div class="queston-container">
			<div class="form-group input-group" id="testTitleContainer"
				ng-show="showTestTitleField">
				<span class="input-group-addon"><i
					class="glyphicon glyphicon-tasks"></i></span> <input type="text"
					class="form-control input-lg" id="testTitle"
					placeholder="{{strings.test_title}}" ng-model="testTitle">
			</div>
			<form class="form-inline" role="form" enctype='multipart/form-data'>
				<button type="button" class="btn btn-primary"
					ng-show="showAddQuestionButton" ng-bind-html="strings.add_question"
					ng-click="addQuestion()" id="addQuestionButton"></button>
				<br /> <br />
				<button type="button" class="btn btn-primary"
					ng-show="showFinishTestButton" ng-bind-html="strings.finish_test"
					ng-click="submitTest()"></button>
				<br /> <br />
			</form>
		</div>
	</div>
</div>