<div class="row panel-group" ng-controller="doTestController"
	ng-init="initDoTest()" id="test-body-main">
	<div class="main-cont-create panel panel-primary" id="test-parent-body">
	</div>
	<br />
	<button class="btn btn-primary" id="finishTestBody"
		ng-bind-html="strings.finish_test" ng-click="sendTestResults()"></button>
</div>