<div ng-controller="doTestController" ng-init="init()">
	<div class="queston-container">
		<div class="form-group input-group" id="testTitleContainer">
			<span class="input-group-addon"><i
				class="glyphicon glyphicon-search"></i></span> <input type="search"
				class="form-control input-lg" id="testSearchBox"
				placeholder="{{strings.search}}" ng-model="mySearch"
				ng-change="filterTests()">
		</div>
		<br />
		<div id="all-tests" class="panel panel-default">
			<div class="panel-heading">
				<h4 ng-bind-html="strings.all_tests"></h4>
			</div>
			<br />
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<th class="table-head" ng-bind-html="strings.number"></th>
					<th class="table-head" ng-bind-html="strings.title"></th>
					<th class="table-head" ng-bind-html="strings.author"></th>
				</thead>
				<tr
					ng-repeat="item in items | limitTo: itemsLimit() | filter: mySearch">
					<td>{{$index+1}}.</td>
					<td><a href="#doTestBody/{{item.id}}">{{item.title}}</a></td>
					<td>{{item.username}}</td>
				</tr>
			</table>
		</div>
		<button class="btn btn-primary" ng-show="hasMoreItemsToShow()"
			ng-click="showMoreItems()" ng-bind-html="strings.show_more"></button>
	</div>
</div>