<div ng-controller="mainController" id="home" ng-init="initHome()">
	<h1 ng-bind-html="strings.welcome"></h1>
    <img id="home-img" src="Assets/Images/welcome.jpg" />
    <a class="small-link" href="http://www.freepik.com">Designed by Freepik</a>
</div>