<div class="row">
	<div ng-controller="loginController" ng-init="initLogin()">
		<form role="form" class="form-horizontal" autocomplete="off">
			<div class="form-group input-group" id="username-group">
				<span class="input-group-addon"> <span
					class="glyphicon glyphicon-user"></span>
				</span> <input type="text" id="username"
					class="login-field form-control input-lg" name="username"
					ng-model="username" placeholder="{{strings.username_placeholder}}" />
				<br />
			</div>
			<div class="form-group input-group" id="password-group">
				<span class="input-group-addon"> <span
					class="glyphicon glyphicon-lock"></span>
				</span> <input type="password" id="password"
					class="login-field form-control input-lg" name="password"
					ng-model="password" placeholder="{{strings.password_placeholder}}"
					ng-change="checkPassCapslock()" /> <br />
			</div>
			<span id="loader-div" class="glyphicon glyphicon-refresh"></span>
			<button id="login-button" class="btn btn-primary"
				ng-bind-html="strings.login_button" ng-click="doLogin()"></button>
			<br /> <br />
			<p id="forgotten-password">
				<a href="" class="system-icon"
					ng-bind-html="strings.forgotten_password"
					ng-click="doRestorePassword('open')"></a>
			</p>
			<p id="register-link">
				<a href="" class="system-icon" ng-bind-html="strings.register"
					ng-click="doRegister('open')"></a>
			</p>
		</form>
		<div id="login-error-messages" class="alert alert-danger" role="alert"
			ng-model="loginErrorMessages"></div>
	</div>
</div>