<div ng-controller="doTestController" ng-init="initMyStats()">
	<div class="queston-container">
		<div id="all-tests" class="panel panel-default">
			<div class="panel-heading">
				<h4 ng-bind-html="strings.stats"></h4>
			</div>
			<br />
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<th class="table-head" ng-bind-html="strings.number"></th>
					<th class="table-head" ng-bind-html="strings.title"></th>
					<th class="table-head" ng-bind-html="strings.last_score"></th>
					<th class="table-head" ng-bind-html="strings.best_score"></th>
					<th class="table-head" ng-bind-html="strings.author"></th>
				</thead>
				<tr
					ng-repeat="item in itemsStats | limitTo: itemsLimitStats() | filter: mySearch">
					<td>{{$index+1}}.</td>
					<td><a href="#doTestBody/{{item.id}}">{{item.title}}</a></td>
					<td>{{item.last_score}} / <span ng-if="item.last_score >= 0">100 %</span></td>
					<td>{{item.best_score}} / <span ng-if="item.best_score >= 0">100 %</span></td>
					<td>{{item.username}}</td>
				</tr>
			</table>
		</div>
		<button class="btn btn-primary" ng-show="hasMoreItemsToShowStats()"
			ng-click="showMoreItemsStats()" ng-bind-html="strings.show_more"></button>
	</div>
</div>