
<label>Question:</label>

<label>Text:</label>
<input type="radio" name="selectQuestMode" ng-model="questModeText"
	value="text" data-ng-change="changeQuestMode(1)" checked />
<label>File:</label>
<input type="radio" name="selectQuestMode" ng-model="questModeFile"
	value="file" data-ng-change="changeQuestMode(2)" />


<input type="text" ng-model="textinput" ng-show="questTextSelected" />
<input type="file" ng-model="fileinput" ng-show="questFileSelected" />
<button ng-click="check()">add answer</button>
