<div id="restore-pass-modal" ng-controller="loginController">
	<div class="modal-header">

		<h3 class="modal-title" ng-bind-html="strings.reg_user_modal_heading"></h3>
	</div>
	<div class="modal-body" id="reg-user-modal-body">
		<div class="form-group input-group" id="reg-user-username-group">
			<span class="input-group-addon"> <span
				class="glyphicon glyphicon-user"></span>
			</span> <input type="text" id="reg-user-username"
				class="login-field form-control input-lg" name="reg-user-username"
				ng-model="regUserUsername"
				placeholder="{{strings.username_placeholder}}" autofocus /> <br />
		</div>
		<p id="reg-user-username-error" class='register-error'></p>

		<div class="form-group input-group" id="reg-user-pass-group">
			<span class="input-group-addon"> <span
				class="glyphicon glyphicon-lock"></span>
			</span> <input type="password" id="reg-user-pass"
				class="login-field form-control input-lg" name="reg-user-pass"
				ng-model="regUserPass"
				placeholder="{{strings.password_placeholder}}" /> <br />
		</div>
		<p id="reg-user-pass-error" class='register-error'></p>

		<div class="form-group input-group" id="reg-user-email-group">
			<span class="input-group-addon"> <span
				class="glyphicon glyphicon-envelope"></span>
			</span> <input type="text" id="reg-user-email"
				class="login-field form-control input-lg" name="reg-user-email"
				ng-model="regUserEmail" placeholder="{{strings.email_placeholder}}" />
			<br />
		</div>
		<p id="reg-user-email-error" class='register-error'></p>

		<p id="reg-user-general-error" class='register-error'></p>

		<div class="well btn-group" id="reg-user-role-group">
			<div class="btn-group" data-toggle="buttons buttons-radio">
				<p>
					<label ng-bind-html="strings.role"></label><span
						ng-bind-html="selectedRole"></span>
				</p>
				<button type="button" class="btn btn-default active" value="1"
					id="role1" ng-bind-html="strings.roles[1]" ng-click="getRole(1)">></button>
				<button type="button" class="btn btn-default" value="2" id="role2"
					ng-bind-html="strings.roles[2]" ng-click="getRole(2)"></button>
			</div>
			<br />
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary"
			ng-bind-html="strings.reg_user_modal_heading"
			ng-click="doRegister('confirm')" id="reg-user-button"></button>
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-bind-html="strings.close" ng-click="doRegister('cancel')"></button>
	</div>
</div>
<!-- /.modal -->
