<div id="restore-pass-modal" ng-controller="loginController">
	<div class="modal-header">

		<h3 class="modal-title"
			ng-bind-html="strings.restore_pass_modal_heading"></h3>
	</div>
	<div class="modal-body" id="restore-pass-modal-body">
		<div class="form-group input-group" id="restore-pass-email-group">
			<span class="input-group-addon"> <span
				class="glyphicon glyphicon-envelope"></span>
			</span> <input type="text" id="restore-pass-email"
				class="login-field form-control input-lg" name="restore-pass-email"
				ng-model="restorePassEmail"
				placeholder="{{strings.email_placeholder}}" autofocus /> <br />
		</div>
		<p id="restore-pass-email-error" class='pass-error'></p>
		<div class="form-group input-group" id="restore-pass-username-group">
			<span class="input-group-addon"> <span
				class="glyphicon glyphicon-user"></span>
			</span> <input type="text" id="restore-pass-username"
				class="login-field form-control input-lg"
				name="restore-pass-username" ng-model="restorePassUsername"
				placeholder="{{strings.username_placeholder}}" /> <br />
		</div>
		<p id="restore-pass-username-error" class='pass-error'></p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary"
			ng-bind-html="strings.change" ng-click="doRestorePassword('confirm')"
			id="restore-pass-button"></button>
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-bind-html="strings.close" ng-click="doRestorePassword('cancel')"></button>
	</div>
</div>
<!-- /.modal -->
